article {
    background-color: #4C4C4C;
    color:  #DBDBDB;
    border-bottom: #DBDBDB solid 1px;
    border-right: #DBDBDB solid 1px;
}

article h3{
    cursor: pointer;
}

article h3:hover {
    color: #85C7F2;
}

.imgPres {
    width: 50%;
    height: 50vh;
}
aside {
    width: 60%;
    height: 80%;
    background-color: aliceblue;
    position: fixed;
    top: 15%;
    right: 15%;
    overflow: scroll;
}
#resField{
    position: absolute;
    top: 8%;
    right: 0;
    background-color: #4C4C4C;
}
.imgAct{
    height: 50vh;
}

.closebutton{
    position: sticky;
    top: 0;
    z-index: 1;
}


@media screen and (max-width: 450px) {
    h1{
        font-size: 3em;
    }
}

